@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;500&display=swap');

/* Reset some default styles */
body,
h1,
h2,
h3,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

* {
    margin: 0;
    box-sizing: border-box;
}

/* Add some styles for body*/
body {
    min-height: 100vh;
    max-width: 1280px;
    margin: auto;
    background: #020617;
    padding: 2.7rem 0;
}


/* Add some tag for body and stylish start */
p {
    color: #858586;
}

h1,
h4 {
    color: #171719;
}

.container {
    width: 1280px;
    height: 780px;
    display: flex;
    align-items: center;
    background-color: #fafaf8;
}

.container>div {
    flex: 1;
}

.review {
    margin-left: 30px;
}

.review h1 {
    margin-top: 10px;
    font-size: 35px;
}

.check-review {
    background-color: #f6c044;
    padding: 10px;
    border-radius: 50%;
}

.review-discription {
    margin-top: 8px;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    font-style: normal;
}

.head {
    margin-top: 30px;
}

.done {
    display: flex;
    gap: 10px;
    padding: 2px 0;
}

.social{
    position: relative;
}

.image-social {
    display: flex;
    gap: 15px;
    align-items: center;
}

.google img, .meta img {
    width: 100px;
}

.google-point{
    position: absolute;
    right: 0;
    left: 150px;
    transform: translateY(-220px);
}

.google-point,
.meta-point {
    background-color: #ffffff;
    width: 355px;
    height: 170px;
    padding: 30px 30px;
    margin-top: 150px;
    border-radius: 15px;
    box-shadow: 0px 9px 10px -7px rgba(0, 0, 0, 0.62);
    -webkit-box-shadow: 0px 9px 10px -7px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 0px 9px 10px -7px rgba(0, 0, 0, 0.62);
}

/* Add some tag for body and stylish end */

/* responsive mobile device media quary style start */

@media screen and (max-width: 640px) {
    body{
        padding: 0;
        margin: 0;
    }
        .container{
            width: 100%;
            height: 1000px;
            flex-direction: column;
        }
        .review-point{
            margin-top: 80px;
        }
       .social{
        margin-top: 175px;
        margin-right: 150px;
       }
}

/* responsive mobile device media quary style end */